<div class="header" style="background-image:url('assets/img/bg/bg-1.png');">
    <div class="container" style="width:90%">
        <!-- Logo -->
        <div class="logo">
            <div class="row">
                <div class="col col-md-3" style="line-height:5px;">
                    <img src="assets/img/logo/logo-fra.png" alt="Logo" style="height:25%;">
                    <p style="font-size:8px;"><b>Torrellas Juan Pablo</b></p>
                    <p style="font-size:9px;">Laboratorio IV - 2016</p>
                </div>
            </div>   
        </div>
        <!-- End Logo -->


        <!-- Topbar -->   
        <div class="topbar">
            <ul class="loginbar pull-right"  style="margin:15px 15px 0px 0px;">
                <li class="hoverSelector">

                    <img class="rounded-x inline-block" style="border:2px solid #555; margin-right:5px;" ng-src="{{usuario.URLimgUsuarioPerfil}}" height="35">
                    <div class="inline-block"><h5><b>{{usuario.nombre}}</b></h5></div>

                    <ul class="languages hoverSelectorBlock" style="margin-top:5px;">
                        <li class="page-scroll">
                            <a ng-href="#"><i class="fa fa-cog"></i>&nbsp Perfil</a>
                        </li class="page-scroll">
                        <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container" style="width: 90%">         

            <ul class="nav navbar-nav">               
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        USUARIOS
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="page-scroll">
                            <a ng-href="#/admin/altaUsuario">ALTA USUARIO</a>
                        </li>

                        <li class="page-scroll">
                            <a ng-href="#/admin/grillaUsuarios">GRILLA USUARIOS</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        PRODUCTOS
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li class="page-scroll">
                            <a ng-href="#/admin/altaUsuario">ALTA PRODUCTO</a>
                        </li>

                        <li class="page-scroll">
                            <a ng-href="#/admin/altaProducto">GRILLA PRODUCTOS</a>
                        </li>
                    </ul>
                </li>
            </ul>           

        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>

<div ui-view="contenido"></div>