<div class="container" ng-controller="adminMenuCtrl" ng-view="menu">
	<ul class="nav nav-tabs">
         <li class="btn btn-info animated bounceInLeft" >
         	<a href="#/menu/alta"><span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Alta Votacion</a>
         </li>
         <li  class="btn btn-info animated bounceInLeft" >
         	<a href="#/menu/grilla"><span class="glyphicon glyphicon-th" >&nbsp;</span>Grilla Votacion</a>
         </li>
         <li  class="btn btn-info animated bounceInLeft" >
         	<a href="#/login"><span class="glyphicon glyphicon-th" >&nbsp;</span>Login</a>
         </li>
        
        
	</ul>
</div>

<div ui-view="contenido">

</div>