<div class="container" style="width:100%; height:100%;  background-image:url('assets/img/bg/faces2.jpg');">

    <div class="reg-block">

        <div class="reg-block-header">
            <div class="row">
                <div class="col-md-12 center">
                    <img src="assets/img/logo/logo-fra.png" height="80">
                </div>
            </div>
            <hr>
            <h2>{{frmTitulo}}</h2>
        </div>

        <form name="frmAltaUsuario" class="sky-form" style="box-shadow: none; border:none;" novalidate>
            
            <div class="input-group margin-bottom-20 center" style="width:100%;"  ng-show="cargaFotoShow">
                <img ng-src="{{altaUsuarioData.foto}}" class="rounded-x" style="height:100px; width:100px; border: 1px solid #ccc;" />
            </div>


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input name="email" type="email" class="form-control" placeholder="Email" ng-model="altaUsuarioData.email" required/>
            </div>
            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.email.$touched">
                <span ng-show="frmAltaUsuario.email.$error.required">El campo es obligatorio.</span>
                <span ng-show="frmAltaUsuario.email.$error.email">Formato de email incorrecto.</span>
            </div>

            
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="altaUsuarioData.nombre" required>
            </div>
            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.nombre.$touched">
                <span ng-show="frmAltaUsuario.nombre.$error.required">El campo es obligatorio.</span>
            </div>
            
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input name="password1" type="password" class="form-control" placeholder="Ingrese Password" ng-model="altaUsuarioData.password1" required>
            </div>
            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.password1.$touched">
                <span ng-show="frmAltaUsuario.password1.$error.required">El campo es obligatorio.</span>
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input name="password2" type="password" class="form-control" placeholder="Reingrese Password" ng-model="altaUsuarioData.password2" required>
            </div>
            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.password2.$touched">
                <span ng-show="frmAltaUsuario.password2.$error.required">El campo es obligatorio.</span>
                <span ng-show="altaUsuarioData.password1 != altaUsuarioData.password2">Los passwords no coinciden.</span>
            </div>
    
            <label class="select" ng-if="rol == 'admin'">
                <select ng-model="altaUsuarioData.rol">
                    <option value="admin">Administrador</option>
                    <option value="comprador">Comprador</option>
                    <option value="vendedor">Vendedor</option>
                </select>
                <i style="top:10px; background:none;"></i>
            </label>
            
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-block" ng-model="btnCargarFotoPerfil" ng-click="cargarFotoPerfil()">{{btnCargarFotoPerfil}}</button>
                </div>
            </div>
            <div class="row" ng-show="cargaFotoShow" style="margin-top:15px;">
                <div class="col-md-12">
                    <label for="file" class="input input-file">
                        <div class="button"><input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" id="fileInput">Buscar</div><input type="text" placeholder="Cargar una imagen" readonly="">
                    </label>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Imagen elegida:</h6>
                        </div>
                    </div>
                    <div class="row"  style="height:100px; width:100px;">
                        <div class="col-md-12">
                            <img-crop image="myImage" area-type="square" result-image="altaUsuarioData.foto" on-load-done="imagenAbierta = 1" result-image-size="150"></img-crop>
                        </div>
                    </div>                   
                </div>     
            </div>
                       
            <hr>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block" ng-click="altaUsuario()" ng-disabled="frmAltaUsuario.$invalid || altaUsuarioData.password1 != altaUsuarioData.password2">Dar de alta</button>
                </div>
            </div>
        </form>
        
        <hr>
    </div>
</div>