<div class="panel panel-u margin-bottom-40" style="overflow:auto;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h3 style="margin:0; color:white;"><i class="fa fa-tasks"></i>{{grillaTitulo}}</h3>
            </div>
            <div class="col-md-1">
                <button class="btn btn-u" data-toggle="modal" data-target="#popupfrm" ng-click="agregarItem()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-u" ng-click="traerTodo()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>     
    </div>
    <table class="table table-hover" style="vertical-align:middle !important;">
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">FOTO</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>ROL</th>
                <th ng-if="rol == 'admin'" style="text-align:center;">OPCIONES</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in directivaGrillaDatos.lista.datos" style="align:middle;">			
			<tr ng-if="id != item.id">
				<td style="text-align:center;">{{item.id}}</td>
			    <td style="text-align:center !important;"><!-- <div style="width:50px; height:50px;"> --><img style="width:50px; height:50px;  border-radius:50%;" ng-src="{{urlimg}}{{item.foto}}"><!-- </div> --></td>
			    <td>{{item.nombre}}</td>
			    <td>{{item.email}}</td>
			    <td>{{item.rol}}</td>
			    <td ng-if="rol == 'admin'" style="text-align:center;">
                    <button class="btn btn-warning btn-xs rounded-x" style="height:30px; width:30px;" title="Editar" data-toggle="modal" data-target="#popupfrm" ng-click="editarItem(item);" ><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs rounded-x" style="height:30px; width:30px;" title="Borrar" ng-click="borrarItem(item, $index);"><i class="fa fa-trash"></i></button>
                </td>
			</tr>
		</tbody>
	</table>

    <!-- Popup frm -->
    <div class="modal fade" id="popupfrm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"> 
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modificarFoto(false)">×</button>
                    <h4 class="modal-title">{{frmTitulo}}</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="reg-block" style="width:90%;">

                        <!-- form -->
                        <form name="frm" novalidate>
                                
                            <div class="input-group margin-bottom-20 center" style="width:100%;" ng-show="cargaFotoShow">
                                <img ng-src="{{fotoAGuardar}}" class="rounded-x" style="height:100px; width:100px; border: 1px solid #ccc;" />
                            </div>

                            <!-- email -->
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input name="email" type="email" class="form-control" placeholder="Email" ng-model="frmData.email" required/>
                            </div>
                            <div class="messages" ng-show="frm.$submitted || frm.email.$touched">
                                <span ng-show="frm.email.$error.required">El campo es obligatorio.</span>
                                <span ng-show="frm.email.$error.email">Formato de email incorrecto.</span>
                            </div>

                            <!-- nombre -->
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="frmData.nombre" required>
                            </div>
                            <div class="messages" ng-show="frm.$submitted || frm.nombre.$touched">
                                <span ng-show="frm.nombre.$error.required">El campo es obligatorio.</span>
                            </div>
                            
                            <!-- password 1 -->
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input name="password1" type="password" class="form-control" placeholder="Ingrese Password" ng-model="frmData.password1" required>
                            </div>
                            <div class="messages" ng-show="frm.$submitted || frm.password1.$touched">
                                <span ng-show="frm.password1.$error.required">El campo es obligatorio.</span>
                            </div>

                            <!-- password 2 -->
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input name="password2" type="password" class="form-control" placeholder="Reingrese Password" ng-model="frmData.password2" required>
                            </div>
                            <div class="messages" ng-show="frm.$submitted || frm.password2.$touched">
                                <span ng-show="frm.password2.$error.required">El campo es obligatorio.</span>
                                <span ng-show="frmData.password1 != frmData.password2">Los passwords no coinciden.</span>
                            </div>
                
                            <!-- cbo roles -->
                            <div class="row" ng-if="rol == 'admin'">
                                <div class="col col-md-12">
                                    <label class="select">
                                        <select style="width: 470px; height:28px;" ng-model="frmData.rol">
                                            <option value="admin">Administrador</option>
                                            <option value="vendedor">Vendedor</option>
                                            <option value="comprador" selected>Comprador</option>
                                        </select>
                                        <i style="top:10px; background:none;"></i>
                                    </label>
                                </div>
                            </div>

                            <!-- btn modificar foto -->
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default btn-block" ng-model="btnModificarFoto" ng-click="modificarFoto()">{{btnModificarFoto}}</button>
                                </div>
                            </div>
                            <div class="row" ng-show="cargaFotoShow" style="margin-top:15px;">
                                <div class="col-md-12">
                                    <label for="file" class="input input-file">
                                        <div class="button"><input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" id="fileInput2">Buscar</div><input type="text" placeholder="Cargar una imagen" readonly="">
                                    </label>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6>Imagen elegida:</h6>
                                        </div>
                                    </div>
                                    <div class="row"  style="height:100px; width:100px;">
                                        <div class="col-md-12">
                                            <img-crop image="imagenElegida" area-type="square" result-image="fotoAGuardar" on-load-done="imagenAbierta = 1" result-image-size="150" area-min-size="150" height="150"></img-crop>
                                        </div>
                                    </div>                   
                                </div>     
                            </div>
                        </form>
                        <!-- fin form -->
                                       
                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal" ng-click="modificarFoto(false)">Cerrar</button>
                    <button ng-if="frmTitulo == 'Editar Usuario'" type="submit" class="btn-u btn-u-primary" ng-click="guardarItemEditado()" ng-disabled="frm.$invalid || frmData.password1 != frmData.password2" data-dismiss="modal">Modificar</button>
                    <button ng-if="frmTitulo == 'Agregar Usuario'" type="submit" class="btn-u btn-u-primary" ng-click="guardarItemAgregado()" ng-disabled="frm.$invalid || frmData.password1 != frmData.password2" data-dismiss="modal">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    
</div>






