<div class="panel panel-u margin-bottom-40" style="overflow:auto;">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> Lista de usuarios</h3>
    </div>
    <table class="table table-hover" style="vertical-align:middle !important;">
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">FOTO</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>ROL</th>
                <th ng-if="rol == 'admin'" style="text-align:center;">OPCIONES</th>
            </tr>
        </thead>
        <tbody ng-repeat="usuario in directivaGrillaUsuariosDatos.lista.datos" style="align:middle;">			
			<tr>
				<td style="text-align:center;">{{usuario.id}}</td>
			    <td style="text-align:center;"><img style="width:50px; border-radius:50%;" ng-src="{{urlimg}}{{usuario.foto}}"></td>
			    <td>{{usuario.nombre}}</td>
			    <td>{{usuario.email}}</td>
			    <td>{{usuario.rol}}</td>
			    <td ng-if="rol == 'admin'" style="text-align:center;">
                    <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#popupEditarUsuario" ng-click="editarUsuario(usuario);" ><i class="fa fa-pencil"></i> Editar</button>
                    <button class="btn btn-danger btn-xs" ng-click="borrarUsuario(usuario, $index);"><i class="fa fa-trash"></i> Borrar</button>
                </td>
			    <!-- <td ng-if="rol == 'admin'"><button class="btn btn-danger btn-xs" ng-click="borrarUsuario(usuario);"><i class="fa fa-trash"></i> Borrar</button></td> -->
			</tr>
		</tbody>
	</table>

    <!-- Popup Recuperar Password -->
    <div class="modal fade" id="popupEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <link rel="stylesheet" href="assets/css/pages/page_log_reg_v2.css">
        <form name="frmEditarUsuario" novalidate>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Editar Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>NOMBRE USUARIO</h5>
                                
                                
                                    <!--Reg Block-->
                                    <div class="reg-block">

                                        <form name="frmAltaUsuario" class="sky-form" style="box-shadow: none; border:none;" novalidate>

                                            <div class="input-group margin-bottom-20">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                <input name="email" type="email" class="form-control" placeholder="Email" ng-model="altaUsuarioData.email" required/>
                                            </div>
                                            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.email.$touched">
                                                <span ng-show="frmAltaUsuario.email.$error.required">El campo es obligatorio.</span>
                                                <span ng-show="frmAltaUsuario.email.$error.email">Formato de email incorrecto.</span>
                                            </div>

                                            
                                            <div class="input-group margin-bottom-20">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                <input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="altaUsuarioData.nombre" required>
                                            </div>
                                            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.nombre.$touched">
                                                <span ng-show="frmAltaUsuario.nombre.$error.required">El campo es obligatorio.</span>
                                            </div>
                                            
                                            <div class="input-group margin-bottom-20">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input name="password1" type="password" class="form-control" placeholder="Ingrese Password" ng-model="altaUsuarioData.password1" required>
                                            </div>
                                            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.password1.$touched">
                                                <span ng-show="frmAltaUsuario.password1.$error.required">El campo es obligatorio.</span>
                                            </div>

                                            <div class="input-group margin-bottom-20">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input name="password2" type="password" class="form-control" placeholder="Reingrese Password" ng-model="altaUsuarioData.password2" required>
                                            </div>
                                            <div class="messages" ng-show="frmAltaUsuario.$submitted || frmAltaUsuario.password2.$touched">
                                                <span ng-show="frmAltaUsuario.password2.$error.required">El campo es obligatorio.</span>
                                                <span ng-show="altaUsuarioData.password1 != altaUsuarioData.password2">Los passwords no coinciden.</span>
                                            </div>
                                    
                                            <label class="select" ng-if="rol == 'admin'">
                                                <select ng-model="altaUsuarioData.rol">
                                                    <option value="1">Administrador</option>
                                                    <option value="2">Comprador</option>
                                                    <option value="3">Vendedor</option>
                                                </select>
                                                <i style="top:10px; background:none;"></i>
                                            </label>

                                            <label for="file" class="input input-file">
                                                <div class="button"><input type="file" name="file" multiple="" onchange="this.parentNode.nextSibling.value = this.value" ng-model="altaUsuarioData.foto" base-sixty-four-input>Buscar</div><input type="text" placeholder="Cargar una imagen" readonly="">
                                            </label>
                                            
                                        </form>
                                    </div>
                                    <!--End Reg Block-->
                                

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn-u btn-u-primary" ng-click="guardarUsuarioEditado()" ng-disabled="frmAltaUsuario.$invalid || altaUsuarioData.password1 != altaUsuarioData.password2" data-dismiss="modal">Modificar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




