<div class="panel panel-green margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> Lista de usuarios</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>foto</th>
                <th>nombre</th>
                <th>email</th>
                <th>rol</th>
                <th ng-if="rol == 'admin'">Editar</th>
                <th ng-if="rol == 'admin'">Borrar</th>
            </tr>
        </thead>
        <tbody ng-repeat="usuario in directivaGrillaUsuariosDatos.lista.datos">
        				
			<tr>
				<td>{{usuario.id}}</td>
			    <td><img style="width:50px; border-radius:50%;" ng-src="{{usuario.foto}}"></td>
			    <td>{{usuario.nombre}}</td>
			    <td>{{usuario.email}}</td>
			    <td>{{usuario.rol}}</td>
			    <td ng-if="rol == 'admin'"><button class="btn btn-warning btn-xs"><i class="fa fa-pencil" ng-click="EditarUsuario(usuario)"></i> Editar</button></td>
			    <td ng-if="rol == 'admin'"><button class="btn btn-danger btn-xs"><i class="fa fa-trash" ng-click="BorrarUsuario(usuario)"></i> Borrar</button></td>
			</tr>
		</tbody>
	</table>
</div>


