
<div>
	<div class="row" style="padding: 5px;">
		<h1>{{URLimgPerfilUsuarioCompleta}}</h1>
		<div class="col-lg-1" style="text-align:center">
			<img style="width:80px; border-radius:50%" ng-src="{{usuario.foto}}">
		</div>
		<div class="col-lg-9">
			<h4 style="">{{usuario.nombre}}</h4>
			<p>Email: {{usuario.email}}</p>
			<p>Rol: {{usuario.rol}}</p>
		</div>
		<div class="col-lg-2" style="text-align:center">
			<!-- <a ng-click="Modificar(usuario)" ><i class="fa fa-pencil fa-3x"></i></a>
			<a ng-click="Borrar(usuario)" ><i class="fa fa-trash fa-3x"></i></a> -->
		</div>
	</div>
</div>
